<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event+</title>
</head>
<body>
    <div class="register">
        <div class="login-register-floating-box">
            <div class="login-register-header">
                <h1 class="title">Sign Up</h1>
                <span>Daftar kan akun barumu disini</span>
            </div>
            <div class="login-register-form">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nama Depan</label></br>
                        <input type="text" name="namaDepan" class="form-control" id="exampleFormControlInput1" required placeholder="">
                    </div><div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nama Belakang</label></br>
                        <input type="text" name="namaBelakang" class="form-control" id="exampleFormControlInput1" required placeholder="">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Alamat</label></br>
                        <textarea class="form-control" id="exampleFormControlTextarea1" required rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-submit">Sign Up</button>
                </form>
                <hr>
                <div class="other-choice">
                    <span>Sedah memiliki akun? Sign in <a href="{% url 'landingpage:login' %}">disini</a></span>
                    <div class="google-OAuth2">
                    </div>
                <div>
            </div>
        </div>
    </div>
</body>
</html>